@CHARSET "US-ASCII";

.list {
	width: 652px;
}

.col1 {
	width: 222px;
	padding-right: 0px;
}

.col2 {
	width: 652.px;
}

.list ul {
	list-style: none;
	list-style-type: none;
}

.list ul p {
	padding-right: 36px;
	float: right;
}
