@CHARSET "US-ASCII";

.list {
	width: 652px;
}

.col1 {
	display: inline;
}

.list ul {
	list-style: none;
	list-style-type: none;
	margin: 2em 0;
}

.list ul p {
	padding-right: 36px;
	float: left;
}
