@CHARSET "US-ASCII";

html {
	background-repeat: repeat-y;
}

body {
	background-repeat: repeat-y;
}
.list {
	width: 652px;
}

.col1 {
	width: 222px;
	padding-right: 0px;
}

.list ul {
	list-style: none;
	list-style-type: none;
}

.list ul p {
	padding-right: 36px;
	float: left;
}

.list .book {
	top-margin: 2em;
}
